@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.app__container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141623;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}
.loading_panel__container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #141623;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-family: monospace;
  font-size: 36px;
}

.loading__map {
  position: relative;
  width: fit-content;
}

.loader__container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: fit-content;
  height: auto;
  --color: white;
}

.map {
  max-width: 10em;
}

.map img {
  width: 100%;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading div {
  box-sizing: border-box !important;
}
.loading > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid var(--color);
  border-color: var(--color) transparent var(--color) transparent;
  animation: loading 1s linear infinite;
}
.loading > div:nth-child(2) {
  border-color: transparent;
}
.loading > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.loading > div:nth-child(2) div:before,
.loading > div:nth-child(2) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: var(--color);
  border-radius: 50%;
  box-shadow: 0 128px 0 0 var(--color);
}
.loading > div:nth-child(2) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 var(--color);
}
.loading-spinner {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.loading {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.loading div {
  box-sizing: content-box;
}

@media screen and (max-width: 500px) {
  .loading_panel__container {
    font-size: 24px;
  }
  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading div {
    box-sizing: border-box !important;
  }
  .loading > div {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 65px;
    left: 65px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: var(--color) transparent var(--color) transparent;
    animation: loading 1s linear infinite;
  }
  .loading > div:nth-child(2) {
    border-color: transparent;
  }
  .loading > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .loading > div:nth-child(2) div:before,
  .loading > div:nth-child(2) div:after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    top: -6px;
    left: 26px;
    background: var(--color);
    border-radius: 50%;
    box-shadow: 0 64px 0 0 var(--color);
  }
  .loading > div:nth-child(2) div:after {
    left: -6px;
    top: 26px;
    box-shadow: 64px 0 0 0 var(--color);
  }
  .loading-spinner {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
  }
  .loading {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
  }
  .loading div {
    box-sizing: content-box;
  }
}

@media screen and (max-width: 600px) {
  .app__container {
    font-size: 9px;
  }
}
