.container {
  width: 40em;
  height: min(55em, 80vh);
  background-color: #444c53;
  border-radius: 2em;
  padding: 3em 2em;
  position: relative;
  z-index: 10;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) and (min-width: 500px) {
  .container {
    height: min(60em, 80vh);
  }
}

@media screen and (max-width: 499px) {
  .container {
    height: min(75em, 80vh);
    width: 20rem;
  }
}
