.container {
  position: absolute;
  font-size: clamp(14px, calc(14 / 350 * var(--modal__width)), 16px);
  width: fit-content;
  max-height: fit-content;
  background-color: whitesmoke;
  padding: 10px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: black;
  transform: translate(-50%, -100%);
  bottom: 2em;
}

.point {
  position: absolute;
  z-index: 1000000;
  background-color: red;
  top: 100px;
  left: 100px;
  width: 3px;
  height: 3px;
}

.text {
  width: fit-content;
  height: fit-content;
  display: inline-block;
  white-space: nowrap;
  margin: 0 10px;
}
.icon {
  font-size: clamp(22px, calc(22 / 350 * var(--modal__width)), 24px);
  color: rgb(79, 77, 255);
}
